@using ShowroomBooking.RequestObjects;

@model BookingRequestObjects


@{
    ViewData["Title"] = "Confirmation Page";
}

<h2>Appointment</h2>

<div class="row">
    <div class="col-md-6">

        <form method="post" asp-controller="Booking" asp-action="Appointment">
            <br /> You have selected the booking slot of <b>
                @Model.AppointStart.ToShortTimeString() to @Model.AppointEnd.ToShortTimeString()
                on @Model.AppointDate.DayOfWeek ( @Model.AppointDate.ToShortDateString() )
            </b> <br /> <br />
            <div class="form-group">
                please enter your email
                <input asp-for="Email" class="form-control" />
            </div>



            <div class="form-group">
                <input type="submit" value="Confirm Booking" class="btn btn-success" />
                <input type="hidden" asp-for="AppointStart" value="@Model.AppointStart" />
                <input type="hidden" asp-for="AppointEnd" value="@Model.AppointEnd" />
                <input type="hidden" asp-for="AppointDate" value="@Model.AppointDate" />
            </div>

            <a href="Booking">Click here to change the timings</a>

        </form>
    </div>

</div>


